/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* LAYOUT */

body {
    height: 100vh;
    display: flex;
}

.container {
    max-width: 1200px;
    width: 80%;
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 200px;
}

.btn {
    margin-top: 100px;
    font-size: 30px;
    padding: 20px 25px;
}